$bckg_gradient_filter: linear-gradient(to top, rgba(0, 0, 0, 1) 0%,rgba(0,0,0,0.4) 40%, rgba(0, 0, 0, .4) 90%, rgba(0, 0, 0, 1) 100%);
$overshadow: rgba(0, 0, 0, 0.7);

$wombat_white: rgb(227, 227, 227);
$wombat_yellow: #EFD857;